.head, .t_real_cat, .real_block, .line_2, .real_block_2 {
	padding: 10px;
	border: 1px solid black;
} 

.head_title {
	/*padding: 10px;*/
	/*border: 1px solid red;*/
	

}

.head {
	display: flex;
	height: 500px;
	background: url(../img/head_pic.jpg) center no-repeat;
	background-size: cover;
	justify-content: flex-start;
}

.t_real_cat {
	/*display: flex;*/
	background-color: #B5A7F5;
	height: 30px;
}

.line_2 {
	/*display: flex;*/
	background-color: #B5A7F5;
	height: 30px;
}

.real_block {
	display: flex;
	background-color: #D7CFF9;
	height: 600px;
	height: 100%;
	justify-content: space-evenly;
 
}

.head_title {
	font-size: 80px;
	color: #fff;
	margin: 170px 100px;
	height: 90px;
	width: 100% auto;

}

.b1 {
	margin: 10px;
	position: relative;
	width: 540px;
	height: 540px;
	background: #c2c2c2;
	background-image: url(../img/cat_11.jpg);
	transition:all 0.3s ease;
    /*transition:all 0.3s ease;*/
	
}

.b1:hover {
	box-shadow: inset 0 0 0 23px #B5A7F5;
}

.b2 {
	margin: 10px;
	position: relative;
	width: 540px;
	height: 540px;
	background-image: url(../img/cat_3.jpg);
	transition:all 0.3s ease;
}

.b2:hover {
	box-shadow: inset 0 0 0 23px #B5A7F5;
}

.real_block_2 {
	display: flex;
	background-color: #D7CFF9;
	height: 600px;
	height: 100%;
	justify-content: space-evenly;
}

.b3 {
	margin: 10px;
	position: relative;
	width: 540px;
	height: 540px;
	background-image: url(../img/cat_4.jpg);
	transition:all 0.3s ease;
}

.b3:hover {
	box-shadow: inset 0 0 0 23px #B5A7F5;
}

.b4 {
	margin: 10px;
	position: relative;
	width: 540px;
	height: 540px;
	background-image: url(../img/cat_5.jpg);
	transition:all 0.3s ease;
}

.b4:hover {
	box-shadow: inset 0 0 0 23px #B5A7F5;
}

.b5 {
	margin: 10px;
	position: relative;
	width: 540px;
	height: 540px;
	background-image: url(../img/cat_6.jpg);
	transition:all 0.3s ease;
}

.b5:hover {
	box-shadow: inset 0 0 0 23px #B5A7F5;
}
